*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
   }
   header ul{
    display: flex;
    gap: 30px;
   }
   main button img{
    width: 100%;
   }
   main{
    display: flex;
   }
   .display{
    display: flex;
    flex-direction: column;
   }
   .display2{
    display: flex;
    gap: 20px;
   }
   .direction{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    margin-left: 30px;
   }
   .direction  div button{
    width: 200px;
    border: none;
    height: 50px;
   }
   .direction h1{
    font-size: 42px;
   }
   .direction h3{
    font-size: 27   px;
   }
   .main_container{
    width: 1280px;
height: 660px;
top: 1543px;
opacity: 1;
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 50px;

padding-right: 50px;
   }
   nav{
    background-color: #374F4C;
    color: white;
   }
   .h1{
    text-align: center;
    padding-top: 30px;
    font-size: 28px;
   }
   .h1 button{
    border: none;
    background-color: transparent;
   }
   .h2{
    background-image: url(./assets/img/image\ copy\ 7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
height: 100%;
top: 5195px;
color: white;
text-align: center;
font-size: 37px;
opacity: 1;
padding-bottom: 250px;
margin-top: 20px;
padding-top: 250px;

   }
   @media only screen and (max-width:540px) {
    header{
        width: 100%;
        height: 100px;
    }
    header ul{
        display: none;
    }
    .direction h1{
        font-size: 22px;
    }
    main{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .direction h3{
        font-size: 18px;
    }
    .direction button{
        width: 100px;
        height: 50px;
        background-color: transparent;
        margin-left: 10px;
    }
        main{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .direction button img{
        width: 150px;
    }
    .display2 img{
        width: 150px;
    }
    .main_container {
        display: flex;
        gap:0px;        
    }
    nav{
        display: flex;
        flex-direction: column;
    }
    .h2 {

        font-size: 15px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .h1{
        font-size: 24px;
    }
    .h1 button img{
        width: 150px;
    }

    .main_container{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 120px;
    }
    .main_container h1{
        font-size: 20px;
    }
    .main_container p{
        font-size: 15px;
    }
   }